* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
p {
    margin: 0;
}


/* foooter */
footer {
    display: flex;
    justify-content: space-around;
}

.rss-logo {
    display: flex;
    align-items: center;
}

.footer-header {
    display: flex;
    align-items: center;
    font-size: 30px;
}